<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<style type="text/css">
			html { height: 100% }
			body { height: 100%; margin: 0; padding: 0 }
			#map-canvas { width: 1024px; height: 600px; margin:0 auto}	
			.judul{margin:0 auto;font-family:verdana}	
		</style>
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBeIvJweS4ZzyJRvBA7kZnryBH-SZzbFw&sensor=true">
		</script>
		<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
		
		<script>        
		var marker;
		  function initialize() {
			  
			// Variabel untuk menyimpan informasi (desc)
			var infoWindow = new google.maps.InfoWindow;
			
			//  Variabel untuk menyimpan peta Roadmap
			var mapOptions = {
					center: new google.maps.LatLng(-1.5,117),
					zoom: 5,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};

				// Generate the actual map
				var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
				  
			// Variabel untuk menyimpan batas kordinat
			var bounds = new google.maps.LatLngBounds();

			// Pengambilan data dari database			
			
			{% for object in object_list %}		
				addMarker({{ object.lat }}, {{ object.long }},'{{ object.id }}')
	
			{% endfor %}	
				
			
			// Proses membuat marker 
			function addMarker(lat, lng,kota) {
				var lokasi = new google.maps.LatLng(lat, lng);
				//bounds.extend(lokasi);
				var marker = new google.maps.Marker({
					map: map,
					position: lokasi
				});       
				//map.fitBounds(bounds);
				bindInfoWindow(marker, map, infoWindow, kota);
			 }
			
			// Menampilkan informasi pada masing-masing marker yang dimouseover
			function bindInfoWindow(marker, map, infoWindow, kota) {
			  google.maps.event.addListener(marker, 'mouseover', function() {
				infoWindow.setContent(kota);
				infoWindow.open(map, marker);
			  });
			}
	 
			}
		  google.maps.event.addDomListener(window, 'load', initialize);
		
		</script>
	
	</head>
<body>
	<div align="center">
		<strong><span class="judul">Lokasi Penerbit Buku</span></strong><br/><br/>
	</div>
	
	<div id="map-canvas" /> </div>	
	</body>
</html>